parameters:
    level: 6
    paths:
        - src
        - tests
    ignoreErrors:
        - message: '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$testModel#'
          path: tests/*
        - message: '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$user#'
          path: tests/*
        - message: '#Call to function method_exists\(\) with .* will always evaluate to true#'
          path: tests/*
        - message: '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$id#'
          path: tests/*
        - message: '#Method .* return type has no value type specified in iterable type array#'
          path: tests/*
        - message: '#Method .* has parameter .* with no value type specified in iterable type array#'
          path: tests/*
        - message: '#Property .* type has no value type specified in iterable type array#'
          path: tests/*
        - message: '#Unsafe usage of new static\(\)#'
          path: src/*
        - message: '#Unsafe usage of new static\(\)#'
          path: tests/*
        - message: '#Method .* has no return type specified#'
          path: tests/*
        - message: '#Access to an undefined property .*DTO::\$.*#'
          path: tests/*
        - message: '#Call to an undefined method .*DTO::get.*#'
          path: tests/*
        - message: '#Call to an undefined method .*DTO::set.*#'
          path: tests/*
        - message: '#Call to static method create\(\) on an unknown class Schema#'
          path: tests/*
        - message: '#Access to an undefined property Grazulex\\Arc\\Contracts\\DTOInterface::\$.*#'
          path: tests/*
        - message: '#Unable to resolve the template type TValue in call to function expect#'
          path: tests/*
        - message: '#Class RealUserDTO uses unknown trait FromModelTrait#'
          path: tests/*
        - message: '#Call to an undefined method PHPUnit\\Framework\\TestCase::artisan\(\)#'
          path: tests/*
        - message: '#Parameter \#1 \$object of function get_class expects object#'
          path: tests/*
        - message: '#Access to an undefined property Pest\\Mixins\\Expectation.*::\$not#'
          path: tests/*
    excludePaths:
        - tests/Pest.php
        - vendor
        - src/Examples/
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - vendor/autoload.php

