parameters:
    level: 6
    paths:
        - src
        - tests
    
    # Only ignore specific patterns that are still needed
    ignoreErrors:
        # PHPStan template type errors for expect() in tests
        - '#Unable to resolve the template type TValue in call to function expect#'
        # Ignore dynamic property access in DTOs (they use magic methods)
        - '#Access to an undefined property .*DTO::\$.*#'
        - '#Call to an undefined method .*DTO::get.*#'
        - '#Call to an undefined method .*DTO::set.*#'
        # Allow unsafe usage of new static() in DTOs
        - '#Unsafe usage of new static\(\)#'
    
    # Exclude files
    excludePaths:
        - tests/Pest.php
        - vendor
        - src/Examples/usage_example.php
        - src/Examples/simple_example.php
    
    # Include Laravel stubs
    bootstrapFiles:
        - vendor/autoload.php

